<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000">
    <link rel="manifest" href="assets/manifest.json">
    <link rel="icon"  type="image/jpeg" href="assets/logo.jpg">
    <title>David Alsh</title>
  </head>
  <body class="page page-index" style="visibility: hidden" onload="document.body.style.visibility = 'visible'">
    <div id="app">
        <main v-if="admin.is" class="login">
            <div class="panel">
                <h1>Login</h1>
                <input type="text" placeholder="Username" v-model="admin.details.username">
                <input type="password" placeholder="Password" v-model="admin.details.password">
                <button v-on:click="admin.login()">Login</button>
            </div>
        </main>
        <main v-if="!admin.is">
            <a class="save-changes" v-on:click="save()">Save Changes</a>

            <nav class="top">
                <a class="left">
                    <!-- <img src="assets/logo.svg" width="60px" alt=""/>  --> 
                </a>
                <a class="right">
                    <!-- MENU
                    <i class="ion-navicon"></i> -->
                </a>
            </nav>

            <section class="hero">

                <div class="admin">
                    <a class="btn standard" v-on:click="admin.updateHero.thumb()">Change Thumb <i class="ion-image"></i></a>
                    <a class="btn standard" v-on:click="admin.updateHero.src()">Change Image <i class="ion-image"></i></a>
                </div>

                <app-image 
                    v-bind:thumb="state.hero.thumb" 
                    v-bind:src="state.hero.src"
                ></app-image>

                <div class="title-text">
                    <div>
                        <h1>David Alsh</h1>
                        <h2>Full Stack Software Developer</h2>
                        <!--  <h2>Software Developer</h2> -->
                    </div>
                </div>

                <div class="bottom">
                    <a>
                        <span>Read On</span><br>
                        <i class="ion-ios-arrow-down"></i>
                    </a>
                </div>
            </section>

            <section class="section skills">
                <h3>
                    Skills
                    <small>Full Stack JavaScript Developer</small>
                </h3>

                <div class="content-max-width">
            
                    <div class="item" v-for="(skill, index) of state.skills">
                        <img v-bind:src="skill.image" alt="">
                        <a class="remove" v-on:click="state.skills.splice(index, 1)">REMOVE</a>
                    </div>

                    <div class="item to-add">
                        <div class="adder" v-on:click="admin.addSkill()">
                            <i class="ion-plus"></i>
                        </div>
                    </div>
                    
                </div>
            </section>

            <section class="section about">
                <div class="content-max-width">
                    <h3>
                        About
                        <small>A Journey, A Story, A Nuisance</small>
                    </h3>
                    
                    <div 
                        class="image" 
                        v-bind:style="{
                            'background-image' : 'url(' + state.my_picture + ')'
                        }"
                    >
                        <a class="btn standard" v-on:click="admin.updateMyPicture()">Change Thumb <i class="ion-image"></i></a>
                    </div>
                    
                    <article class="wysiwyg">
                        <app-wysiwyg v-model="state.about_me"></app-wysiwyg>
                    </article>

                    <div class="clear"></div>
                </div>
            </section>

            <section class="section portfolio">
                <div class="content-max-width">
                    <h3>
                        Portfolio
                        <small>A Few Of The Things I Have Made</small>
                    </h3>
                    <ul>
                        <li 
                            v-for="(portfolio, index) of state.projects"
                            v-bind:style="{
                                'background-color' : portfolio.brand_color.muted
                            }"
                        >
                            <div 
                                class="image" 
                                v-bind:style="{
                                    'background-image' : 'url(' + portfolio.thumb + ')'
                                }"
                            ></div>
                        </li>
                        <li style="background: #e0e0e0" v-on:click="admin.addPortfolio()">
                            <i class="ion-plus"></i>
                        </li>
                    </ul>
                </div>
            </section>
        

        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js" integrity="sha256-0rNBIaIMGY7KaD8u+PwjVYX8kMjvxxeKCKviu5+tFuk=" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet">
        <script src="app.bundle.js"></script>
    </div>
  </body>
</html>