<header>
  <div class="content-max-width">
    <div class="profile-picture">
      <!-- <img src="/assets/profile.jpg" alt="profile-picture"> -->
    </div>
    <div class="panel">
      <div class="upper">
        <nav>
          <ol>
            <li><a href="/">
                <h1>David Alsh</h1>
              </a></li>
            <% if (typeof breadcrumbs !=='undefined' ) for (const [title, slug] of breadcrumbs) { %>
              <li><a href="<%- slug %>"><%- title %></a></li>
              <% } %>
          </ol>
        </nav>
        <div class="links">
          <a href="https://github.com/alshdavid">Github</a>
          <a href="https://www.youtube.com/DavidAlsh">YouTube</a>
        </div>
      </div>
      <div class="lower">
        <p class="blurb">Software Engineer</p>
      </div>
    </div>
  </div>
</header>