<header>
  <nav>
    <ol>
      <li><a href="/">Home</a></li>
    </ol>
  </nav>
  <div>
    <h1>
      <small>Random blog by</small> David Alsh
    </h1>
    <div>
      <a href="https://github.com/alshdavid">Github</a>
      <a href="https://github.com/alshdavid">YouTube</a>
      <a href="https://github.com/alshdavid">Linkedin</a>
    </div>
  </div>
</header>
