<nav class="content-max-width framed">
  <div>
    <a class="logo" href="/">
      <h1 class="name">David Alsh</h1>
      <h2 class="blurb">Engineer. Enthusiast. Explorer.</h2>
    </a>
    <div class="links">
      <a class="link" href="/">Blog</a>
      <!-- <a class="link" href="/portfolio">Portfolio</a>
      <a class="link" href="/resume">Resume</a> -->
      <a class="link" href="https://www.youtube.com/@DavidAlsh/videos">YouTube</a>
      <a class="link" href="https://www.linkedin.com/in/alshdavid/">LinkedIn</a>
      <a class="link" href="https://github.com/alshdavid">GitHub</a>
    </div>
  </div>
  <div class="toggle-dark-mode-container">
    <button
      class="toggle-dark-mode" 
      onclick="toggleDarkMode()">
      <span>Toggle Dark Mode</span>
    </button>
  </div>
</nav>
