<nav class="content-max-width framed">
  <div>
    <a class="logo" href="/">
      <h1 class="name">David Alsh</h1>
      <h2 class="blurb">Engineer. Enthusiast. Explorer.</h2>
    </a>
    <div class="links">
      <!-- <a class="link" href="/posts">Posts</a> -->
      <a class="link" href="/portfolio">Portfolio</a>
      <a class="link" href="/contact">Contact</a>
    </div>
  </div>
  <div>
    <button 
      class="toggle-dark-mode" 
      onclick="toggleDarkMode()">
      Toggle Dark Mode
    </button>
  </div>
</nav>