<nav class="content-max-width framed">
  <div>
    <a class="logo" href="/">
      <h1 class="name">David Alsh</h1>
      <h2 class="blurb">Engineer. Enthusiast. Explorer.</h2>
    </a>
    <div class="links">
      <a class="link" href="/portfolio">Portfolio</a>
      <a class="link linkedin-icon" href="https://www.linkedin.com/in/alshdavid/"><%- include('../assets/icons/linkedin.svg') %></a>
      <a class="link github-icon" href="https://github.com/alshdavid"><%- include('../assets/icons/github.svg') %></a>
    </div>
  </div>
  <div>
    <button 
      class="toggle-dark-mode" 
      onclick="toggleDarkMode()">
      Toggle Dark Mode
    </button>
  </div>
</nav>
