.page-article {
  main {
    @include content-max-width;
  }

  .comments {
    @include content-max-width;
    width: 100%;
    padding-bottom: 20px;

    .attribution {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 20px 0 0px;
      margin-bottom: -42px;
      z-index: 99;
      border-top: 1px #30363db3 solid;

      h4 {
        font-weight: 500;
      }
      
      a {
        text-decoration: none;
      }
    }
  }
}