.page-article {
  main {
    @include content-max-width;

    .hero-image {
      img {
        max-width: 50%;
      }

      i {
        display: block;
        max-width: 50%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }

  .comments {
    @include content-max-width;
    width: 100%;
    margin-top: 16px !important;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px #30363db3 solid;
    min-height: 410px;

    .attribution {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 20px 0 0px;
      margin-bottom: -42px;
      z-index: 99;

      h4 {
        font-weight: 500;
      }
      
      a {
        text-decoration: none;
      }
    }
  }
}