<% 
  const publish_date = util.moment('2019-03-19')
  const tags = ['tutorial', 'video', 'golang', 'go', 'web development']
  const title = "Building a Web Application with Go and Angular"
  const subtitle = "Wielding this dynamic duo has never been easier"
  const description = "A tutorial on creating a web application using Go and Angular"
  const image = slug_full + "assets/hero.png"
%>

<head>
  <%- assets.add("./assets") %>
  <%- await include('../../partials/head.ejs', {
    title,
    meta: {
      type: {
        key: "article", 
        attributes: {
          published_time: publish_date,
          modified_time: changes[changes.length - 1],
          author: "David Alsh",
          section: "Technology",
          tag: tags,
        }
      },
      description,
      image
    }
  }) %>
</head>

<body>
</body>