* {
    margin: 0;
    padding: 0;
    font-family: $font-family-1;
    color: #333;
    text-decoration: none;
    box-sizing: border-box;
} 

hr {
    background-color: $color-1;
    height: 1px;
    border: none;
}

.content-wrapper {
    max-width: 1000px;
    margin: 0 auto;

    @media(max-width: $tablet){
        padding: 0 3%;
    }
}

// To show and hide elements for desktop / mobile
.desktop {
    @media (max-width: $desktop){
        display: none !important;
    }
}

.mobile {
    @media (min-width: $desktop){
        display: none !important;
    }
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeup {
    0% { transform: translate3d(0, 20px, 0); opacity: 0; }
    100% { transform: translate3d(0, 0px, 0); opacity: 1; }
}

@keyframes slidedown {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0%, 0); }
}

@keyframes loadin {
    0% { display: none; }
    100% { display: block; }
}

