* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: inherit;
  margin: 0;
  padding: 0;
  
  &:active,
  &:focus {
    outline: none;
  }
}

body {
  font-family: var(--font-family-1);
  background-color: var(--background-color);
  color: var(--font-color);
  transition: background-color var(--color-scheme-transition-duration) ease-in-out;
}
