<head>
  <%- await include('../../partials/head.ejs', { title: "Home" , meta: { type: "website" ,
    title: "Software Engineering Articles, Videos, Tutorials and More" ,
    description: "My personal website where I share my thoughts and experiences, like and subscribe!" ,
    image: "assets/social.jpeg" } }) %>
</head>

<body class="page-home">
  <%- await include(paths.root + '/partials/header/header.ejs' ) %>

    <main>
      <article>
        <a href="/">
          <img src="./articles/2023-12-14-how-fast-can-you-bundle-part-1/assets/hero.jpg" alt="" srcset="">
          <div>
            <h2>Writing A Bundler In Rust - Part 1 - Transformation</h2>
            <p>A series digging into what is required to build a modern JavaScript bundler in Rust</p>
            <span>CONTINUE READING <svg src="/assets/icons/arrow.svg" svg-replace></svg></span>
          </div>
        </a>
      </article>

      <article>
        <a href="/">
          <img src="./articles/2022-01-06-installing-debian-and-gnome-41/assets/hero.png" alt="" srcset="">
          <div>

            <h2>Installing Gnome 4x on Debian Sid</h2>
            <p>A tutorial on installing Gnome 4x on Debian Sid</p>
            <span>CONTINUE READING <svg src="/assets/icons/arrow.svg" svg-replace></svg></span>
          </div>
        </a>
      </article>

      <article>
        <a href="/">
          <img src="./articles/2019-04-06-hosting-an-spa-on-s3/assets/hero.png" alt="" srcset="">
          <div>
            <h2>Hosting a Single Page Application on Amazon's AWS S3</h2>
            <p>A tutorial on using AWS S3 to host a Single Page Application</p>
            <span>CONTINUE READING <svg src="/assets/icons/arrow.svg" svg-replace></svg></span>
          </div>
        </a>
      </article>

      <article>
        <a href="/">
          <img src="./articles/2019-03-19-go-and-angular/assets/hero.png" alt="" srcset="">
          <div>
            <h2>Building a Web Application with Go and Angular</h2>
            <p>A tutorial on creating a web application using Go and Angular</p>
            <span>CONTINUE READING <svg src="/assets/icons/arrow.svg" svg-replace></svg></span>
          </div>
        </a>
      </article>

      <article>
        <a href="/">
          <img src="./articles/2019-03-18-go-gin-rest-api/assets/hero.jpeg" alt="" srcset="">
          <div>
            <h2>Creating a REST API with Go and Gin</h2>
            <p>A tutorial on creating a REST API with Go (Golang) and Gin</p>
            <span>CONTINUE READING <svg src="/assets/icons/arrow.svg" svg-replace></svg></span>
          </div>
        </a>
      </article>
    </main>
</body>