<% 
  const publish_date = util.moment('2022-01-06')
  const tags = ['tutorial', 'video', 'linux', 'gnome']
  const title = 'Installing Gnome 4x on Debian Sid'
  const subtitle = 'Using vanilla Gnome with a vanilla Debian based Linux distro'
  const description = 'A tutorial on installing Gnome 4x on Debian Sid'
  const image = slug_full + 'assets/hero.png'
  const image_alt = 'Picture transformers'
%>

<head>
  <%- assets.add("./assets") %>
  <%- await include('../../partials/head.ejs', {
    title,
    meta: {
      type: {
        key: "article", 
        attributes: {
          published_time: publish_date,
          modified_time: changes[changes.length - 1],
          author: "David Alsh",
          section: "Technology",
          tag: tags,
        }
      },
      description,
      image
    }
  }) %>
</head>

<body>
</body>