.save-changes {
    position: fixed;
    @include pos(auto, auto, 20px, 20px);
    background: #333;
    color: white;
    padding: 10px 25px;
    z-index: 999;
    font-weight: 300;
}

.page-index {

    .hero {
        height: calc(100vh - 40px);
        background-image: url("");
        background-position: center;
        background-size: cover;
        opacity: 0.7; 
        position: relative;
        overflow: hidden;

        .admin {
            position: absolute;
            z-index: 10;
            bottom: 5px;
            right: 5px;

            a {
                display: inline-block;
            }
        }

        .app-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 200px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,ffffff+100&1+0,0+100 */
            background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
        }

        .title-text {
            position: absolute;
            @include pos(0);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            //animation: fadedown 2s forwards;

            * {
                font-weight: 300;
                font-size: 30px;
            }

            h1 {
                font-size: 70px;
                font-weight: 400;
            }
        }

        .bottom {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            text-align: center;

            * {
                color: #333;
                display: inline-block;
            }

            a {
                cursor: pointer;
            }

            span {
                font-size: 20px;
                font-weight: 200;
            }
            
            i {
                font-size: 60px;
                color: #333;
                line-height: 0px;
                margin-top: -5px;
            }
        }
    }

    .section {
        background-color: #F5F5F5;
        padding: 80px 0; 

        h3 {
            text-align: center;
            letter-spacing: 1px;
            font-size: 30px;
            font-weight: 300;
            padding-bottom: 80px;

            small {
                display: block;
                font-size: 18px;
                padding-top: 10px;
            }
        }
    }


    .skills {
        padding: 80px 0 0;

        .content-max-width {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;

            &:after {
                display: none;
            }

            .item {
                position: relative;
                height: 100px;
                width: 25%;
                text-align: center;
                margin: 0 0 80px 0;
                display: flex;
                align-items: center;
                justify-content: center;

                .remove {
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    left: 65%;
                    font-size: 14px;
                    z-index: 10;
                    color: white;
                    padding: 2px 5px;
                    background-color: rgba(0,0,0,0.3);
                    cursor: pointer;
                }

                &.to-add {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .adder {
                        width: 100px;
                        height: 100px;
                        background: #e0e0e0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
            
                        .ion-plus {
                            color: white;
                            font-size: 50px;
                            opacity: 0.5;
                        }
                    }
                }
            }

            img {
                max-width: 100px;
                max-height: 100px;
                flex-basis: 25%;
            } 
        }

        
        
    }

    .about {
        .image {
            @include bg(cover);
            background-color:white;
            height: 250px;
            width: 250px;
            margin-top: 30px;
            float: left;
            border-radius: 50%;
            //overflow: hidden;
            position: relative;
        }

        .btn {
            position: absolute;
            bottom: 20px;
            right: 0;
        }

        article {
            width: calc(100% - 250px);
            padding-left: 50px;
            float: right;
        }
    }

    .portfolio {
        $row: 3;

        ul {
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
        }

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% / #{$row});
            text-align: center;
            font-size: 0;
            height: calc(940px / #{$row});
            border: 2px transparent solid;
            transition: box-shadow .10s, z-index .10s, transform .10s ease-in-out;
            cursor: pointer;
            padding: 20px;
            position: relative;
            z-index: 1;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0);
            //padding-bottom: 40px;

            &:hover {
                transition-delay: .11s;
                transform: scale(1.05);
                z-index: 10;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
            }

            &:active {
                transition-delay: 0s;
                transform: scale(1.03);
                transition: none;
            }
        }

        .image {
            @include bg(contain);
            margin: 0 auto;
            position: absolute;
            @include pos(10px);
            //border-radius: 50%;
            //display: inline-block;
        }

        i {
            color: white;
            color: white;
            font-size: 100px;
        }

        h5 {
            font-weight: 300;
            margin: 30px 0;
            letter-spacing: 0.9px;
            font-size: 20px;
            width: 250px;
            display: inline-block;

            &:after {
                content: '';
                display: block;
                width: 50px;
                height: 1px;
                background: #999;
                margin: 10px auto;
            }
        }

        p {
            //display: inline-block;
            text-align: justify;
            //width: 250px;
            margin-bottom: 25px;
            letter-spacing: 0.5px;
            line-height: 25px;
            font-weight: 300;
            font-size: 16px;
        }
    }
}