:root {
  --base: .8rem;
  --width: 1000px;
  --grid-gutter: var(--base);
  --grid-height: calc(2 * var(--base));
  --font-family-1: 'Lora', serif;
  --font-family-2: 'Inter', sans-serif;
  --font-family-3: 'Inconsolata', monospace;
  --margin-bottom-desktop: 28px;
  --margin-bottom-mobile: 18px;

  --font-color-light: #292929;
  --font-color-dark: #e1e1e1;
  --font-color: var(--font-color-light);

  --background-color-dark: #202125;
  --background-color-light: #fff;
  --background-color: var(--background-color-light);

  --border-color-light: #e6e6e6;
  --border-color-dark: #757575;
  --border-color: var(--border-color-light);

  --color-scheme-transistion-duration: 150ms;

  @media (prefers-color-scheme: dark) {
    --background-color: var(--background-color-dark);
    --font-color: var(--font-color-dark);
    --border-color: var(--border-color-dark);
  }
  
  @media (prefers-color-scheme: light) {
    --background-color: var(--background-color-light);
    --font-color: var(--font-color-light);
    --border-color: var(--border-color-light);
  }
}

html.dark {
  --background-color: var(--background-color-dark);
  --font-color: var(--font-color-dark);
  --border-color: var(--border-color-dark);
}

html.light {
  --background-color: var(--background-color-light);
  --font-color: var(--font-color-light);
  --border-color: var(--border-color-light);
}
