@import "mappy";

@include mappy-bp(max-width 1850){}
@include mappy-bp(max-width 1650){       }
@include mappy-bp(max-width 1550){        }
@include mappy-bp(max-width 1350){        }
@include mappy-bp(max-width 1150){        }
@include mappy-bp(max-width 800){        }

#contentOutlet {
    min-height: 500px;
}

#portfolio {
    display: none;
    -webkit-animation: vkr-fade-in .5s forwards;
    -moz-animation:    vkr-fade-in .5s forwards;
    -o-animation:      vkr-fade-in .5s forwards; 
    animation:         vkr-fade-in .5s forwards;
}

#aboutMe {
    display: none;
    -webkit-animation: vkr-fade-in .5s forwards;
    -moz-animation:    vkr-fade-in .5s forwards;
    -o-animation:      vkr-fade-in .5s forwards; 
    animation:         vkr-fade-in .5s forwards;
}

.show {
    display:block !important;
}

$color-1 : #F44336;
$mediumish: 1050px;

body, h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    
}
ul, li {
    display: inline-block;
    //color: black;
}

a {
    transition: all .25s;
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: underline;
    }
    &:active{
        text-decoration: underline;
        transition: none;
    }
}

.page-width { 
    //width: 1050px;
    //margin: 0 auto;
    margin-left: 100px;
    margin-right: 100px;
    @include mappy-bp(max-width $mediumish){
        width: 90%;
        margin: 0 auto;
    }
}


@-webkit-keyframes vkr-fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes vkr-fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes vkr-fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes vkr-fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


.typed-cursor{
    //position: absolute;
    font-size: inherit;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.video {
    margin: 30px 0 30px 0;
    width: 560px;
    height: 315px;
    @include mappy-bp(max-width $mediumish){
        width: 100%;
    }
}

#pageHeader {
    height: 780px;
    background-color: black;
    color: white;
    position: relative;
    z-index: 10;
    @include mappy-bp(max-width 1650){
        height: 660px;
    }
    @include mappy-bp(max-width $mediumish){
        height: 450px;
    }

    .pageHeaderCursorOutlet {
        position: absolute;
        top: 40%; 
        left: 20%;
        right: 200px;
        font-size: 70px; 
        @include mappy-bp(max-width 1850){
            top: 35%;
            left: 20%;
            font-size: 60px; 
        }
        @include mappy-bp(max-width 1650){
            top: 30%;
            left: 15%;
            font-size: 60px; 
        }
        @include mappy-bp(max-width 1550){
            top: 30%; 
            left: 15%;
            font-size: 50px; 
            right: 100px;
        }
        @include mappy-bp(max-width 1350){
            top: 30%;
            left: 15%;
            font-size: 40px; 
            right: 100px;
        }
        @include mappy-bp(max-width 1150){
            top: 30%;
            left: 10%;
            right: 10%;
            font-size: 30px; 
        }
        @include mappy-bp(max-width 800){
            top: 20%;
            left: 10%;
            right: 10%;
            font-size: 25px; 
        }
    }    

    h2 {
        position: relatove; 
        display: inline;        
        top: 40%; 
        left: 20%; 
        
        &:after {
            //content: '|';
            //font-size: 100px;
            display: inline;
            right: -30px;
            top: 0;
            position: absolute;
            color: white;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
    }
}

.sticky-header {
    position: fixed;
    top: 0;
    left:0;
    right:0; 
    height:0px;
    background-color: $color-1;
    text-align: center;
    z-index: 1;
    @include mappy-bp(max-width $mediumish){
        height: 40px;
    }
    & ul {
        padding: 0;
        position: absolute;
        right: 40px;
        top: 5px;
        z-index: 10;
        @include mappy-bp(max-width 1650){top: -3px; right: 10px;}
        @include mappy-bp(max-width $mediumish){
            position: static;
        }
    }
    & li {
        color: white;
        margin: 0 20px 0 20px;
        font-size: 20px;
        cursor: pointer;
        &.selected {
            color: black;
        }
        &:hover {
                
            opacity: 0.8;
        }
        &:active {
            transition: opacity .0s;
            opacity: 0.6;
        }
    }
    &:after {
        background: $color-1;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
        bottom: -10px;
        height: 1000px;
        transform: skewY(2deg) translateZ(0);
        //-webkit-transform: translate3d(0,0,0);
        transform-origin: 0 100%;
    }
}

.profile-banner {
    color: black;
    position: relative;
    background-color: $color-1;
    height:100px;
    z-index: 999;
    @include mappy-bp(max-width 750){ height: auto; text-align: center; padding-top: 75px;}

    & .nav {
        position: absolute;
        bottom: 140%;
        left: 50%;
        text-align: center;
        transform: rotate(-2deg) translateX(-50%);
        transform-origin: 0% 0%;
        font-weight: 400; 
        font-size: 0px;
        @include mappy-bp(max-width 1550){bottom: 130%;}
        @include mappy-bp(max-width 1050){ bottom: 120%;}
        @include mappy-bp(max-width 800){ left: calc(50% - 149px); bottom: 110%; transform: rotate(-2deg) translateX(0%);  }
        @include mappy-bp(max-width 500){  left: calc(50% - 115px); }
        & ul {width: 100%; padding: 0;}
        & li {
            cursor: pointer;
            color: white;
            margin-right: 40px;
            display: inline-block;
            font-size: 30px;
            transition: opacity .25s;
            @include mappy-bp(max-width 500){ font-size: 25px; margin-right: 20px; }
            &.selected {
                color: $color-1;
            }
            &:hover {
                
                opacity: 0.8;
            }
            &:active {
                transition: opacity .0s;
                opacity: 0.6;
            }
        }
    }

    & .img {
        display: block;
        height: 150px;
        width: 150px;
        position: absolute;
        right: 100px;
        top: -7px;
        background-image: url('./images/me.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        outline: none;
        border: 0;
        @include mappy-bp(max-width 1500){ top: 0px; }
        @include mappy-bp(max-width $mediumish){ right: 50px; }
        @include mappy-bp(max-width 750){ 
            position: static; 
            display: inline-block;
            //margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .personal-details {
        color: white;
        text-align: right;
        top: 45px;
        right: 290px;
        position: absolute;
        @include mappy-bp(max-width 1500){ top: 50px; }
        @include mappy-bp(max-width $mediumish){
            right: 224px;
        }
        @include mappy-bp(max-width 750){ 
            position: relative; 
            top: auto;
            right: auto;
            width: 100%;
            text-align: center;
        }
        
        & h2, h3 {
            font-weight: 400;
        }
    }

    .title {
        color: white;
        padding-top: 40px;
        font-size: 30px;
        @include mappy-bp(max-width 1500){ padding-top: 55px; }
        @include mappy-bp(max-width 750){ 
            width: 100%;
            padding-top: 50px;
            text-align: center;
        }
    }

    &:before, &:after {
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    &:before {
        top: 0;
        height: 105%;
        transform: skewY(-2deg);
        transform-origin: 0 100%;
    }
    
    &:after {
        bottom: -100%;
        height: 105%;
        transform: skewY(2deg);
        transform-origin: 100%;
        @include mappy-bp(max-width 750){   bottom: -25%; height: 25%;     }
    }
    
}



.profile-content {
    padding: 150px 0 100px 0;
    background-color: white;
    @include mappy-bp(max-width $mediumish){
        text-align: center;
        padding-top: 200px;
    }

    & h1 {
        font-size: 50px;
        position: relative;
        display: inline-block;
        margin-bottom: 80px;
        &:after{
            height: 2px;
            background-color: black;
            width: 100%;
            content: '';
            display: block;
            position: absolute;
        }
    }

    article {
        display: table;
        margin-bottom: 80px;
        @include mappy-bp(max-width $mediumish){
            display: block;
            margin-bottom: 80px;
        }
        .content {
            display: table-cell;
            vertical-align: top;
            width: 100%;
            padding-right: 50px;
            @include mappy-bp(max-width $mediumish){
                display: block;
                width: 100%;
                padding-right: 0;
                margin-bottom: 30px;
            }

            h2 {
                position: relative;
                display: inline-block;
                margin-bottom: 20px;
                color: black;
                font-size: 30px;
                &:after{
                    height: 2px;
                    background-color: black;
                    width: 100%;
                    content: '';
                    display: block;
                    position: absolute;

                }

                @include mappy-bp(max-width $mediumish){
                    font-size: 30px;
                }
            }
            & span {
                color: $color-1;
                display: inline-block;
                margin-left: 10px;
            }

            p {
                opacity: 0.7;
                font-size: 15px;
                max-width: 700px;
            }

            a {
                font-size: 18px;
                font-weight: 700;
                color: $color-1;
                opacity: 1;
                transition: all .25s;
                margin-right: 20px;

                &:hover {
                    opacity: 0.7;
                }
                &:active{ 
                    opacity: 0.4;
                    transition: none;
                }
            }

            h3 {
                display: inline-block;
                @include mappy-bp(max-width $mediumish){
                    display: block;
                }
            }

            time {
                display: inline-block;
                margin-left: 10px;
                opacity: 0.5;
                &:before{
                    content: '- ';
                    @include mappy-bp(max-width $mediumish){
                        content: '';
                    }
                }
                @include mappy-bp(max-width $mediumish){
                    margin: 10px 0 20px 0;
                }
            }
        }
        .img {
            display: inline-block;
            height: 350px;
            width: 500px;
            background-color: #fafafa;
            border: 1px #e0e0e0 solid;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            vertical-align: top;
            @include mappy-bp(max-width $mediumish){
                background-size: contain;
                display: block;
                width: 100%;
            }
        }
    }
}

footer {
    padding: 40px 10px 40px 10px;
    color: white;
    background-color: black;
    text-align: center;
    
    a {
        color: white;
    }
}