
// My Normalise CSS
body, h1, h2, h3, h4, h5, h6, p, a, section, div, ul, li {
    margin: 0;
    padding: 0;
    cursor: default;
} 

hr {
    background-color: $color-1;
    height: 1px;
    border: none;
}

// For floats
.clear-after {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
     }
}

// To show and hide elements for desktop / mobile
.desktop {
    @include mappy-bp(max-width $page-width){
        display: none !important;
    }
}

.mobile {
    @include mappy-bp($page-width){
        display: none !important;
    }
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}