code[class*="language-"] {
  --hl-dark-color-0: #363636;
  --hl-dark-color-1: #fd9170;
  --hl-dark-color-2: #c792ea;
  --hl-dark-color-3: #ffcb6b;
  --hl-dark-color-4: #c3e88d;
  --hl-dark-color-5: #80cbc4;
  --hl-dark-color-6: #546e7a;
  --hl-dark-color-7: #f07178;
  --hl-dark-color-8: #89ddff;

  --hl-light-color-0: #cceae7;
  --hl-light-color-1: #263238;
  --hl-light-color-2: #f76d47;
  --hl-light-color-3: #7c4dff;
  --hl-light-color-4: #39adb5;
  --hl-light-color-5: #f6a434;
  --hl-light-color-6: #6182b8;
  --hl-light-color-7: #aabfc9;
  --hl-light-color-8: #e53935;

  --hl-dark-background: #0d1116;
  --hl-light-background: #fff;

  --hl-dark-color: #292929;
  --hl-light-color: #e1e1e1;

  // Defaults
  --hl-color: var(--hl-light-color);
  --hl-background: var(--hl-light-background);
  --hl-color-0: var(--hl-light-color-0);
  --hl-color-1: var(--hl-light-color-1);
  --hl-color-2: var(--hl-light-color-2);
  --hl-color-3: var(--hl-light-color-3);
  --hl-color-4: var(--hl-light-color-4);
  --hl-color-5: var(--hl-light-color-5);
  --hl-color-6: var(--hl-light-color-6);
  --hl-color-7: var(--hl-light-color-7);
  --hl-color-8: var(--hl-light-color-8);

  @include dark {
    --hl-color: var(--hl-dark-color);
    --hl-background: var(--hl-dark-background);
    --hl-color-0: var(--hl-dark-color-0);
    --hl-color-1: var(--hl-dark-color-1);
    --hl-color-2: var(--hl-dark-color-2);
    --hl-color-3: var(--hl-dark-color-3);
    --hl-color-4: var(--hl-dark-color-4);
    --hl-color-5: var(--hl-dark-color-5);
    --hl-color-6: var(--hl-dark-color-6);
    --hl-color-7: var(--hl-dark-color-7);
    --hl-color-8: var(--hl-dark-color-8);
  }
}

html.light {
  --hl-background: var(--background-color-code-light);
  --hl-color: var(--font-color-code-light);
}

code[class*="language-"],
pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: var(--hl-color);
  background: var(--hl-background);
  font-size: 12px;
  line-height: 1.5em;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  background: var(--hl-color-0);
  color: var(--hl-color-1);
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
  background: var(--hl-color-0);
  color: var(--hl-color-1);
}

:not(pre) {
  & > code[class*="language-"] {
    white-space: normal;
    border-radius: 0.2em;
    padding: 0.1em;
  }
}

pre[class*="language-"] {
  overflow: auto;
  position: relative;
  padding: 1.25em 1em;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  color: var(--hl-color-2);
}

[class*="language-"] {
  .namespace {
    opacity: 0.7;
  }
}

.token {
  &.atrule {
    color: var(--hl-color-3);
  }

  &.attr-name {
    color: var(--hl-color-4);
  }

  &.attr-value {
    color: var(--hl-color-5);
  }

  &.attribute {
    color: var(--hl-color-5);
  }

  &.boolean {
    color: var(--hl-color-3);
  }

  &.builtin {
    color: var(--hl-color-4);
  }

  &.cdata {
    color: var(--hl-color-4);
  }

  &.char {
    color: var(--hl-color-4);
  }

  &.class {
    color: var(--hl-color-4);
  }

  &.class-name {
    color: var(--hl-color-6);
  }

  &.comment {
    color: var(--hl-color-7);
  }

  &.constant {
    color: var(--hl-color-3);
  }

  &.deleted {
    color: var(--hl-color-8);
  }

  &.doctype {
    color: var(--hl-color-7);
  }

  &.entity {
    color: var(--hl-color-8);
  }

  &.function {
    color: var(--hl-color-3);
  }

  &.hexcode {
    color: var(--hl-color-2);
  }

  &.id {
    color: var(--hl-color-3);
    font-weight: bold;
  }

  &.important {
    color: var(--hl-color-3);
    font-weight: bold;
  }

  &.inserted {
    color: var(--hl-color-4);
  }

  &.keyword {
    color: var(--hl-color-3);
  }

  &.number {
    color: var(--hl-color-2);
  }

  &.operator {
    color: var(--hl-color-4);
  }

  &.prolog {
    color: var(--hl-color-7);
  }

  &.property {
    color: var(--hl-color-4);
  }

  &.pseudo-class {
    color: var(--hl-color-5);
  }

  &.pseudo-element {
    color: var(--hl-color-5);
  }

  &.punctuation {
    color: var(--hl-color-4);
  }

  &.regex {
    color: var(--hl-color-6);
  }

  &.selector {
    color: var(--hl-color-8);
  }

  &.string {
    color: var(--hl-color-5);
  }

  &.symbol {
    color: var(--hl-color-3);
  }

  &.tag {
    color: var(--hl-color-8);
  }

  &.unit {
    color: var(--hl-color-2);
  }

  &.url {
    color: var(--hl-color-8);
  }

  &.variable {
    color: var(--hl-color-8);
  }
}
