* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
  box-sizing: border-box;
}

nav {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &>div {
    display: flex;
    align-items: center; 

    &:first-child {
      a {
        margin-right: 8px;
      }
    }
  }
}

.toggle-dark-mode {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 13px;
  cursor: pointer;
}

footer {
  padding: 80px 0;
}

@media (min-width: 1000px) {
  .for-mobile {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .for-desktop {
    display: none !important;
  }
}

body {
  font-family: var(--font-family-1);
  background-color: var(--background-color);
  transition: background-color var(--color-scheme-transistion-duration) ease-in-out;
  color: var(--font-color);
}

.content-max-width {
  overflow: auto;
  padding: 0 3%;

  @media (min-width: 1000px) {
    padding: 0 100px;
    max-width: var(--width);
    margin: 0 auto;

    &.framed {
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 0px;
      border-bottom-width: 0px;
      border-color: var(--border-color);
      border-style: solid;
      transition: border-color var(--color-scheme-transistion-duration) ease-in-out;

      &.inverted {
        border-color: var(--border-color-invert);
      }
    }
  }
}

