:root {
  --tag-p-font-weight-dark: 500;
  --tag-p-font-weight-light: 400;
  --tag-p-font-weight: var(--tag-p-font-weight-light);

  --tag-code-background-color-dark: #263238;
  --tag-code-background-color-light: #e6e6e6;
  --tag-code-background-color: var(--tag-code-background-color-light);

  --tag-code-color-dark: #e6e6e6;
  --tag-code-color-light: #292929;
  --tag-code-color: var(--tag-code-color-light);

  @media (prefers-color-scheme: dark) {
    --tag-p-font-weight: var(--tag-p-font-weight-dark);
    --tag-code-background-color: var(--tag-code-background-color-dark);
    --tag-code-color: var(--tag-code-color-dark);
  }
  
  @media (prefers-color-scheme: light) {
    --tag-p-font-weight: var(--tag-p-font-weight-light);
    --tag-code-background-color: var(--tag-code-background-color-light);
    --tag-code-color: var(--tag-code-color-light);
  }
}

html.dark {
  --tag-p-font-weight: var(--tag-p-font-weight-dark);
  --tag-code-background-color: var(--tag-code-background-color-dark);
  --tag-code-color: var(--tag-code-color-dark);
}

html.light {
  --tag-p-font-weight: var(--tag-p-font-weight-light);
  --tag-code-background-color: var(--tag-code-background-color-light);
  --tag-code-color: var(--tag-code-color-light);
}

.markdown {
  >*:last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6, b, strong {
    font-family: var(--font-family-2);
    letter-spacing: -0.016em;
  }
  
  h1 {
    font-size: 28px;
    margin: 32px 0 20px 0;
    font-weight: 700;
    
    @media (min-width: 1000px) {
      font-size: 30px;
      margin: 36px 0 24px 0;
    }
  }

  h2 {
    font-size: 25px;
    margin: 30px 0 20px 0;
    font-weight: 600;

    @media (min-width: 1000px) {
      font-size: 27px;
      margin: 32px 0 20px 0;
    }
  }

  h3 {
    font-size: 23px;
    margin: 24px 0 16px 0;
    font-weight: 500;

    @media (min-width: 1000px) {
      font-size: 25px;
      margin: 28px 0 16px 0;
    }
  }

  h4 {
    font-size: 20px;
    margin: 24px 0 16px 0;
    font-weight: 500;

    @media (min-width: 1000px) {
      font-size: 22px;
      margin: 28px 0 16px 0;
    }
  }

  h5 {
    font-size: 18px;
    margin: 24px 0 16px 0;
    font-weight: 500;

    @media (min-width: 1000px) {
      font-size: 19px;
      margin: 28px 0 16px 0;
    }
  }

  h6 {
    font-size: 17px;
    margin: 24px 0 16px 0;
    font-weight: 500;

    @media (min-width: 1000px) {
      font-size: 18px;
      margin: 28px 0 16px 0;
    }
  }

  strong, b {
    font-weight: 500;
  }

  p, li {
    letter-spacing: -0.003em;
    font-weight: var(--tag-p-font-weight);
    font-size: 17px;
    margin: 0 0 var(--margin-bottom-mobile) 0;
    line-height: 26px;

    p {
      margin-bottom: 0;
    }

    @media (min-width: 1000px) {
      font-size: 17px;
      margin: 0 0 var(--margin-bottom-desktop) 0;
      line-height: 29px;
    }
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  ul {
    list-style-type: none;
    margin: 0 0 var(--margin-bottom-mobile) 0;

    @media (min-width: 1000px) {
      margin: 0 0 var(--margin-bottom-desktop) 0;
    }
  }

  li {
    padding-left: 20px;
    margin: 0 0 8px 0;
    position: relative;

    @media (min-width: 1000px) {
      padding-left: 30px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 4px;
      top: 11px;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      background-color: var(--font-color);
      transition: background-color var(--color-scheme-transistion-duration) ease-in-out;
    }
  }

  iframe {
    border-radius: 4px;
    margin: 0 0 var(--margin-bottom-desktop) 0;
  }

  code, .codeblock {
    -webkit-font-smoothing: initial;
    padding: 2px 8px;
    font-family: var(--font-family-3);
    margin: 0 2px;
    color: var(--tag-code-color);
    background-color: var(--tag-code-background-color);
    transition: background-color var(--color-scheme-transistion-duration) ease-in-out;
    transition: color var(--color-scheme-transistion-duration) ease-in-out;
  }

  .codeblock {
    margin: 0 0 var(--margin-bottom-desktop) 0;
    display: block;
    border-radius: 4px;
    padding: 1.25em 1em;
    font-family: var(--font-family-3);
    border-radius: 4px;
    -webkit-font-smoothing: initial;
    overflow-x: scroll;
    max-width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    * {
      -webkit-font-smoothing: inherit;
    }

    &.language-plaintext {
      padding: 0 0 0 12px;
    }
    
    &::-webkit-scrollbar {
      display: none;
    }
  }

  pre {
    margin: 0 0 var(--margin-bottom-desktop) 0;
    display: block;
    border-radius: 4px;
    padding: 1.25em 1em;
    -webkit-font-smoothing: initial;

    * {
      -webkit-font-smoothing: inherit;
    }

    code {
      position: relative;
      padding: 0 0 0 44px;
      margin: 0;
      font-family: var(--font-family-3);
      border-radius: 4px;
      font-size: 18px;
      line-height: 22px;
      display: block;
      overflow-x: scroll;
      max-width: 100%;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      &.language-plaintext {
        padding: 0 0 0 12px;
      }
      
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}