.markdown {
    img, video {
        margin: 0 auto;
        display: block;
        width: 95%;

        &.xxs {
            width: 40%;
        }

        &.xs {
            width: 50%;
        }

        &.s {
            width: 60%;
        }

        &.m {
            width: 70%;
        }

        &.l {
            width: 80%;
        }

        &.xl {
            width: 90%;
        }

        &.xxl {
            width: 100%;
        }
    }
}
