@import "./styles/mixins.scss";
@import "./styles/variables.scss";
@import "./styles/typography.scss";
@import "./styles/structure.scss";
@import "./styles/codeblock/index.scss";
@import "./styles/markdown.scss";

@import "./components/wc-embed-html/wc-embed-html.scss";
@import "./components/wc-embed-svg/wc-embed-svg.scss";
@import "./components/wc-grid/wc-grid.scss";

@import "./partials/header/header.scss";
@import "./partials/footer/footer.scss";

@import "./pages/home/home.scss";
@import "./pages/article/article.scss";

wc-lazy:not(:defined) {
  display:none
}

wc-lazy >* {
  display: none;
}