.slide-about {
    max-width: 740px;
    margin: 0 auto;
    padding-top: 45px;

    h4 {
        text-align: center;
        padding: 30px 0 20px;
        font-weight: 400;
        font-size: 20px;

    }

    .video {
        width: 600px;
        height: 400px;
        margin: 0 auto;
        display: block;
    }
}