.slide-contact {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
    
    @include mappy-bp($page-width){
        min-height: calc(100vh - 60px);
    }

    .contact-content {
        padding-top: 40px;
    }

    h3, h4 {
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 0;
    }

    h4 {
        font-size: 20px;
    }    

    a {
        -webkit-tap-highlight-color: black;
        user-select: initial; 
        display: block;
        cursor: text;
        color: #333;
        text-decoration: none;
        transition: color .25s;
        font-size: 25px;

        &:hover {
            color: lighten(#333, 30%);
        }

        &:active {
            color: lighten(#333, 60%);
            transition: color 0s;
        }
    }
}