<% 
  const publish_date = util.moment('2019-03-18')
  const tags = ['tutorial', 'video', 'golang', 'go', 'software-design']
  const title = "Creating a REST API with Go and Gin"
  const subtitle = "First steps when starting to develop Go web applications"
  const description = "A tutorial on creating a REST API with Go (Golang) and Gin"
  const image = slug_full + "assets/hero.jpeg"
%>

<head>
  <%- assets.add("./assets") %>
  <%- await include('../../partials/head.ejs', {
    title,
    meta: {
      type: {
        key: "article", 
        attributes: {
          published_time: publish_date,
          modified_time: changes[changes.length - 1],
          author: "David Alsh",
          section: "Technology",
          tag: tags,
        }
      },
      description,
      image
    }
  }) %>
</head>

<body>
</body>