<% 
  assets.add("./assets")
  ctx.publish_date = util.moment('2019-03-18')
  ctx.tags = ['tutorial', 'video', 'golang', 'go', 'software-design']
  ctx.title = "Creating a REST API with Go and Gin"
  ctx.subtitle = "First steps when starting to develop Go web applications"
  ctx.description = "A tutorial on creating a REST API with Go (Golang) and Gin"
  ctx.image = slug_full + "assets/hero.jpeg"
  index_meta.set('peek', '')
%>
<%- await include(paths.root + '/pages/article/article_header.ejs', ctx) %>

<main class="content-max-width">
  <%- await markdown.render('./readme.md') %>
</main>

<%- await include(paths.root + '/pages/article/article_footer.ejs') %>
