header {
    //height: 44px;
    line-height: 44px;
    background: $color-brand-1;
    font-size: 0;
    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 999;
    animation: slidedown 2s forwards;
    animation-delay: 2s;
    transform: translate3d(0, -100%, 0); 

    a {
        font-size: 16px;
        text-align: center;
        font-weight: 300;
        color: white;
        display: inline-block;
        transition: background-color .25s;
        cursor: pointer;
        width: 25%;
        vertical-align: top;

        &:hover { background-color: rgba(255,255,255,0.05); }
        &:active { background-color: rgba(255,255,255,0.1); transition: background-color 0s; }

        &.logo {
            //font-weight: 400;

            //&:hover { background-color: transparent; }
        }
    }
}

#project-drawer {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: white;
    z-index: 999;
    transform: translate3d(0, -100%, 0) translate3d(0, -100px, 0);
    transition: .8s transform ease-in-out;
    display: block !important;
    box-shadow: 0px 0px 81px -7px rgba(0, 0, 0, 0.5);

    * {
        color: white;
        animation: fadein .30s forwards;
    }

    &.open {
        transform: translate3d(0, 0%, 0);
    }

    #feature-outlet {
        width: 100%;
    }

    .hero {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $tablet){
            padding-bottom: 60px;
        }
    }


    .feature {
        width: 100%;
        max-height: 80vh;
        //box-shadow: 0px 0px 81px -7px rgba(0,0,0,0.5);
        border-radius: 6px;
    }

    .feature-image {
        width: 100%;
        height: 70vh;
        //box-shadow: 0px 0px 81px -7px rgba(0,0,0,0.5);
        border-radius: 6px;
        @include bg(cover);

        @media (max-width: $desktop){
            height: 50vh;
        }
    }

    .pin {
        max-height: 40px;
        max-width: 50px;
        margin: 20px auto;
        display: block;
        vertical-align: middle;

        @media(max-width: $desktop){
            display: inline-block;
            margin: 5px 10px;
        }
    }

    h1 {
        padding: 15px 0;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 18px;

        span {
            padding-top: 5px;
            font-weight: 300;
            font-size: 15px;
            display: block;
        }
    }

    h3 {
        font-weight: 400;
        padding: 0 0 10px 0;
    }

    

    article {
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 27px;
    }

    .main-body {
        position: absolute;
        top: 0;
        left: 0; 
        right: 0; 
        bottom: 0;
        //padding-top: 120px;
        overflow-y: scroll;
        @include no-scroll();

    }

    .tags, .title {
        //background-color: rgba(0,0,0,0.6);
        margin-bottom: 80px;
        position: absolute;
        top: 0;
        left: 0; 
        right: 0; 
        z-index: 99999;
        padding: 0 3%;
    }

    .tags {
        padding: 10px;
        text-align: center;
        top: 50%;
        /* bottom: 0; */
        left: auto;
        margin: 0;
        //box-shadow: 0px 0px 81px -7px rgba(0, 0, 0, 0.75);
        background-color: rgba(255, 255, 255, 0.9);
        transform: translateY(-50%);

        @media(max-width: $desktop){
            bottom: 0;
            top: auto;
            transform: none;
            left: 0; 
            right: 0;
        }
    }

    .exit {
        position: absolute;
        right: 3%;
        top: 50%;
        z-index: 99999;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .text-body {
        //box-shadow: 0px 0px 81px -7px rgba(0,0,0,0.5);
        background: white;
        color: #333;
        padding: 80px 100px;
        margin-bottom: 140px;
        border-radius: 4px;

        * {
            color: #666;
        }

        @media(max-width: $tablet){
            padding: 40px 6%;    
        }
    }
}