@import './_styles/variables.scss';
@import './_styles/markdown.scss';
@import './_styles/common.scss';
@import './_styles/posts-page.scss';

:root {
  --arrow-height: 40px;
}

html.dark {
  --hero-image-grayscale: var(--hero-image-grayscale-dark);
}

html.light {
  --hero-image-grayscale: var(--hero-image-grayscale-light);
}

.page-home, .page-posts {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &>nav, &>main, &>footer {
    width: 100%;
  }

  nav {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div {
      display: flex;
      align-items: center;
    }

    .link {
      font-size: 18px;
      margin-right: 12px;
      border-bottom: 1px solid;
      text-decoration: none;
      margin-bottom: 6px;
    }

    .logo {
      margin-right: 24px;
      text-decoration: none;
      display: block;
    }

    .name {
      font-size: 34px;
      letter-spacing: 2px;
      font-weight: 500;
      border-bottom: 1px solid;
      margin-bottom: 6px;
      margin-left: -2px;
    }

    .blurb {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &>main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .hero-image {
      // margin: 24px auto;
      // filter: grayscale(1);
      height: 400px;
    }

    .recent-posts, .all-posts {
      font-family: var(--font-family-1);
      margin-top: 10px;
      font-size: 23px;
      font-weight: 500;

      @media (min-width: 1000px) {
        font-size: 25px;
        margin: 10px 0 16px 0;
      }
    }
  }
}