@import './_styles/variables.scss';
@import './_styles/markdown.scss';
@import './_styles/common.scss';
@import './_styles/posts-page.scss';
@import './_styles/syntax-highlighting/line-numbers.scss';
@import './_styles/syntax-highlighting/prism-dark.scss';
@import './_styles/syntax-highlighting/prism-light.scss';

:root {
  --highlight-color-dark: rgba(255,255,255,0.2);
  --highlight-color-light: rgba(0,0,0,0.1);
  --highlight-color: var(--highlight-color-light);
}

html.dark {
  --highlight-color: var(--highlight-color-dark);
}

html.light {
  --highlight-color: var(--highlight-color-light);
}

.page-home, .page-posts {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &>nav, &>main, &>footer {
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
    margin: 0 0 24px;

    @media (min-width: 1000px) {
      flex-direction: row;
      margin: 0 auto;
      padding: 20px 100px;
      justify-content: space-between;
      align-items: center;
    }

    &>div {
      display: flex;
      align-items: center;
      flex-direction: column;

      @media (min-width: 1000px) {
        flex-direction: row;
      }

      &:last-child {
        flex-direction: column;
        align-items: center;

        @media (min-width: 1000px) {
          align-items: flex-end;
        }

        button {
          display: block;
          margin-bottom: 8px;
        }

        input {
          width: 250px;
        }
      }
    }

    .links {
      margin: 0 0 16px 0;
      display: flex;
      align-items: center;

      @media (min-width: 1000px) {
        margin: 0;
      }
    }

    .link {
      font-size: 18px;
      margin-right: 20px;
      border-bottom: 1px solid;
      text-decoration: none;
      display: block;

      &:last-child {
        margin-right: 0;
      }

      &.github-icon, 
      &.linkedin-icon {
        border-bottom: none;

        svg {
          height: 25px;
          display: block;
        }

        path {
          fill: var(--font-color);
        }
      }
    }

    .logo {
      margin: 16px 0;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      @media (min-width: 1000px) {
        display: block;
        margin: 0 24px 0 0;
      }
    }

    .name {
      font-size: 34px;
      letter-spacing: 2px;
      font-weight: 500;
      border-bottom: 1px solid;
      margin-bottom: 6px;
      margin-left: -2px;
    }

    .blurb {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &>main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .filter {
      border-top: 1px solid var(--border-color);
      display: flex;
      align-items: center;
      // justify-content: center;

      >span, button {
        padding: 12px 0;
        margin: 0 20px 0 0;
        font-size: 15px;
        font-family: var(--font-family-2);
      }

      span {
        display: inline-block;
      }

      button {
        padding: 12px 8px;
        margin: 0;
        background-color: transparent;
        color: var(--font-color);
        border: none;
        text-decoration: underline;
        cursor: pointer;
        transition: background-color 150ms ease-in-out;

        &.selected {
          background-color: var(--highlight-color);

          &.unselectable {
            background-color: transparent;
          }
        }
      }
    }    

    article {
      display: flex;
      border-top: 1px solid var(--border-color);
      padding: 20px 0;
      justify-content: space-between;

      @media (min-width: 1000px) {
        padding: 60px 0;
      }

      &:last-child {
        border-bottom: 1px solid var(--border-color);
      }

      &>div:first-child {
        padding-right: 24px;

        @media (min-width: 1000px) {
          padding-right: 60px;
        }
      }
      
      &>div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        flex-shrink: 0;
        
        @media (min-width: 1000px) {
          width: 150px;
          padding: 0 0 0 16px;
        }
      }

      .publish-date {
        font-family: var(--font-family-2);
        font-size: 14px;
        margin: 0 0 8px 0;

        @media (min-width: 1000px) {
          margin: 0 0 16px 0;
        }
      }

      h2 {
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 8px 0;

        @media (min-width: 1000px) {
          margin: 0 0 20px 0;
          font-size: 22px;
        }

        a {
          text-decoration: none;
          display: block;
        }
      }

      p {
        font-size: 16px;
        margin: 0;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0 0 20px 0;

        a {
          text-decoration: none;
        }
      }

      p, .read-more {
        @media (max-width: 1000px) {
          display: none;
        }
      }

      .tags {
        margin: 0 0 8px 0;

        &>span {
          display: inline-block;
          background-color: #0d47a1;
          color: white;
          // background-color: var(--border-color-dark);
          // color: var(--font-color-dark);
          font-weight: 500;
          border-radius: 4px;
          padding: 1px 5px;
          margin-right: 4px;
          font-size: 12px;
          font-family: var(--font-family-2);
        }
      }
    }

  }
}
